.b{
  
    background-repeat: no-repeat;
    background-image: url('../image/contact\ -\ Copy\ \(1\).jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    
  }
  /* -------------------form------------- */
.frm{
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.regInp{
    border: 2px solid #c7a475;
    border-radius: 3px;
    /* background-color: white */

}
input::placeholder{
    color: black;
}
